@import "../../../style";

.container-login-parent {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.test {
  background-color: burlywood;
}

.logo-img-login {
  height: auto;
  width: 70%;
}
